@page "{link}"
@model InterrogateMe.Web.Pages.QuestionModel

<div class="content">
    <div class="container bound">
        <div class="sub-container">
            <h2 class="mainHeader">
                @Model.Title
            </h2>
            <form method="post">
                <input type="hidden" asp-for="@Model.TempLink" value="@Model.ShortcutLink" />
                <div class="subSection">
                    <input class="mainInput extended" asp-for="@Model.Question.Content" placeholder="Enter your question..." type="text" />
                </div>
                <div class="subSection">
                    <button class="mainButton choice">Ask</button>
                    <a class="result choice" asp-page="Result">Results</a>
                </div>
            </form>
        </div>
        <div class="sub-container">
            <div class="subSection">
                <h1 class="subHeader">Share this link:</h1>
                <input class="subInput readonly" id="shortcutUrl" readonly value="https://interrogate.me/@Model.ShortcutLink" />
                <div id="qrcode" class="qrCode"></div>
            </div>
            <div>
                <ul>
                    <li>
                        <a>
                            <span>share</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span>tweet</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span>share</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script src="~/js/qrcode/qrcode.js"></script>
    <script>

        $("#shortcutUrl").on("click", function () {
            $("#shortcutUrl").select();
            document.execCommand("copy");
        });
        var qrcode = new QRCode((document.getElementById("qrcode")), {
            text: $("#shortcutUrl").val(),
            width: 128,
            height: 128,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H
        });
    </script>
}