@page "{link}"
@model InterrogateMe.Web.Pages.ResultModel


<div class="content">
    <div class="container bound">
        <div class="sub-container">
            <h2 class="mainHeader">Result</h2>
            <div>
                <a href="/@Model.Link" class="subButton">Ask</a>
                <div id="state">
                    <i class="image far fa-window-minimize"></i>
                    <i class="image far fa-window-maximize" style="display:none"></i>
                </div>
                <div>
                    Number of participant: <span id="participantCount">@Model.Questions.Count()</span>
                </div>
            </div>
            <ul id="questionList">
                @foreach(var question in Model.Questions) {
                <li>
                    <button class="border"></button>
                    <div id=@question.Id class="question panel">
                        <div class="titlePlace">
                            <p class="questionTitle">@question.Content</p>
                        </div>
                        <div class="dataPlace">
                            <span class="date">@question.DateAsked.ToLocalTime()</span>
                        </div>
                    </div>
                </li>
                }
            </ul>
        </div>
    </div>
</div>


@section Scripts{

<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/interrogatehub.js"></script>
<script>
    (function () {
        var url = window.location.pathname;
        url = url.substring(url.lastIndexOf("/") + 1, url.length);

        var hub = new InterrogateHub();

        hub.onParticipantCount = (count) => {
            console.log(count);
            $("#participantCount").html(count);
        }

        hub.onNotifyList = (question) => {
            var date = new Date(Date.parse(question.dateAsked)).toLocaleString();
            var html = '<li>' +
                '<button class="border"></button>'+
                '<div id= + ' + question.id + ' class=question panel>' +
                '<div class=titlePlace>'+
                '<p class=questionTitle>'+question.content+'</p>' +
                '</div>' +
                '<div class=dataPlace>' +
                '<span class=date>' + date + '</span>' +
                '</div>' +
                '</div>' +
                '</li>';
            $("#questionList").append(html);
        }
        hub.start(url);
    })();
    $("#sortby").on('click', function(){
        $('#questionList').children().each(element => {
            element.addClass('minimize');
        });
    });
    $("#state").on('click', function () {
        $('.question').toggleClass('minimize');
        $('.border').toggleClass("active");
        $(this).find('img').toggle();
    });
    $(".border").each(function (index) {
        $(this).on("click", function () {
            $(this).toggleClass("active");
            $(this).next().toggleClass("minimize");
        });
    });
</script> }